@import 'tailwindcss';

@theme {
  --color-containerBg: rgb(250, 250, 251);
  --color-gray: rgb(140, 140, 140);
  --color-lightGray: rgb(245, 245, 245);
  --color-blue: rgb(22, 119, 255);
  --color-red: rgb(255, 77, 79);
  --color-green: rgb(82, 196, 26);
}
